<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Numans&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <!-- App CSS -->
    <link rel="stylesheet" th:href="@{/app.css}">
    <title>Tickets</title>
</head>

<body>
    <!-- navbar -->
    <nav th:replace="navbar :: navbar('Tickets')"></nav>
    
    <div class="container bg-white shadow-lg mt-5 py-5 px-5 rounded-3">
        <div class="content">
            <!-- titolo creazione -->
            <h2 class="text-center mb-5 numans-regular">Crea un nuovo Ticket</h2>
            <hr />
            <!-- form -->
            <form class="row g-3" method="post" th:action="@{/giullstravells/tickets/create}" th:object="${ticket}">
                <div class="row mt-4">
                        <!-- titolo -->
                        <div class="col-12 col-md-4 mb-3">
                            <label for="titolo" class="form-label">Titolo <span
                                    class="text-danger fw-light">*</span></label>
                            <input placeholder="Inserisci il titolo del ticket" type="text" class="form-control shadow" id="titolo" th:field="*{titolo}"
                                th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <!-- categorie -->
                        <div class="col-md-4 mb-3 col-12">
                            <div class="mb-2 ">Categorizza <span class="text-danger fw-light">*</span></div>
                            <select th:field="*{categoria}" class="form-select form-select shadow" th:errorclass="is-invalid">
                                <option value="" disabled selected>Seleziona una categoria</option>
                                <option th:each="categoria : ${listaCategorie}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('categoria')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('categoria')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <!-- assegna a operatore -->
                        <div class="col-12 col-md-4 mb-3">
                            <label for="operatore" class="form-label">Assegna operatore <span class="text-danger fw-light">*</span></label>
                            <select th:field="*{assegnatoA}" class="form-select form-select shadow">
                                <option value="" disabled selected>Assegna all'operatore</option>
                                <option th:each="operatore : ${listaOperatori}" th:value="${operatore.id}"
                                    th:text="|${operatore.cognome} ${operatore.nome}|"></option>
                            </select>
                        </div>
                        <!-- descrizione -->
                        <div class="mb-3">
                            <label for="descrizione" class="form-label">Descrizione <span class="text-danger fw-light">*</span></label>
                            <textarea placeholder="Inserisci la descrizione del ticket" class="form-control shadow" id="descrizione" th:field="*{descrizione}"
                                th:errorClass="is-invalid" rows="5"></textarea>
                            <div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- buttons -->
                <div class="col-12 mt-4 mb-4">
                    <button type="submit" class="btn btn-outline-success shadow d-inline-flex align-items-center me-2 mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg>
                        <span class="ms-2">Crea Ticket</span>
                    </button>
                    <button type="reset" class="btn btn-outline-danger shadow d-inline-flex align-items-center mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-stars" viewBox="0 0 16 16">
                            <path
                                d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z" />
                        </svg>
                        <span class="ms-2">Ripulisci form</span>
                    </button>
                </div>
            </form>
            <hr />
            <a th:href="@{/giullstravells/tickets}" class="text-decoration-none">← Torna alla lista dei viaggi</a>
        </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/app.js}"></script>
</body>

</html>